.main-image {
    font-size: 30px;
    border: 1px solid black;
    margin-top: 20px;
    height: 100vh;
    margin: none;
    object-fit: cover;
    width: 100%;
    /* Image will go behind home title and description: */
    /* position: absolute;  */
    z-index: -1;
    
  }
  
  .card-container {
    display: flex;
    /* margin-top: 10px; */
    justify-content: space-between;
  }
  
  .card {
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid black;
    padding: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #f9f9f9; 
  }
  
  .card:hover {
    background-color: #e0e0e0; 
  }
  
  .card:active {
    background-color: #ccc; 
  }
  
  /* The image will take the whole container and they will be links */
  .card img {
    max-width: 100%;
  }
  

  .container {
    display: flex; 
  }
  
  .video-container {
    flex: 1; 
    margin-right: 20px; 
  }

  
  .homeVideo {
    width: 80%; 
    border-radius: 20px;
    clip-path: ellipse(50% 80% at center);
  }
  
  .info-container {
    flex: 1; 
    font-family: "Patrick Hand SC";
    
  }


  .steiner {
    font-weight: bold; 
    font-size: 30px; 
    margin-top: 5px; 
  }
  
  
  .quote{
    text-align: center;
    font-size: 50px;
  }

  .info-page-link{
      font-size: 20px;
  }

  .info {
    border: none;
    padding: 20px; 
    font-size: 16px; 
    line-height: 1.5; 
    background-color: #f9f9f9; 
  }
  

  .footer {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-top: 20px;
  }


