/* 
.main-image {
  max-width: 100%; 
  margin: 0 auto; 
 
} */

.home-image {
  width: 100%; 
  height: auto; 
  display: block; 
}

.p-tag {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white; 
  font-size: 70px; 
  text-align: center; 
  z-index: 1; 
  font-family: "Sacramento";
}

.learn-more {
  position: absolute;
  top: 80%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-color: rgb(145, 233, 145); 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
}

  
  .card-container {
    display: flex;
    /* margin-top: 10px; */
    justify-content: space-between;
  }
  
  .card {
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    padding: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    background-color: #f9f9f9; 
  }
  
  .card:hover {
    background-color: #e0e0e0; 
  }
  
  .card:active {
    background-color: #ccc; 
  }
  
  /* The image will take the whole container and they will be links */
  .card img {
    max-width: 100%;
  }
  








  
  .container {
    display: flex; 
  }
  
  .video-container {
    flex: 1; 
    margin-right: 20px; 
  }


  .homeVideo {
    width: 80%; 
    border-radius: 20px;
    /* clip-path: ellipse(50% 80% at center); */
  }
  
  .info-container {
    flex: 1; 
    font-family: "Patrick Hand SC";
    
  }


  .steiner {
    font-weight: bold; 
    font-size: 30px; 
    margin-top: 5px; 
  }
  
  
  .quote{
    text-align: center;
    font-size: 50px;
  }

  .info-page-link{
      font-size: 20px;
  }

  .info {
    border: none;
    padding: 20px; 
    font-size: 16px; 
    line-height: 1.5; 
    background-color: #f9f9f9; 
  }
  

  .footer {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-top: 20px;
  }


