

.user-profile-card{
  display:block;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 50%;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #c9d6ff, #e2e2e2);
  padding:40px 0px;
}



.page-title {
  font-size: 35px;
  margin-bottom: 20px;
}


.profile-image {
  display:block;
  margin-left: auto;
  margin-right: auto;
  height: 30%;
  width: 30%;
  margin-top: 15px;
  border-radius: 200px;
  border: 2px solid black;
}

.update-profile-button {
  text-decoration: none;


} 


