.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.page-title {
  font-size: 35px;
  margin-bottom: 20px;
  font-family: "Patrick Hand SC";
}

.profile-image {
  width: 150px; 
  height: 150px; 
  border-radius: 50%; 
  margin-bottom: 10px;
}

.update-profile-button {
  text-decoration: none;


} 

.name-class,
.username-class,
.location-class,
.bio-class {
  font-size: 18px; /* Adjust size as needed */
  margin-bottom: 10px;
}

.location-class {
  font-style: italic; /* Italicize location text */
}

.bio-class {
  font-style: italic; /* Italicize bio text */
}
