.resources {
  margin: 20px;
}

.resources-title-main {
  font-family: "Patrick Hand SC";
}

.resources-title {
  text-align: center;
  font-size: 24px;
  color: #333;
  font-family: "Patrick Hand SC";
}
.helpful-links-one {
  font-size: 20px;
}

.resources-container {
  margin-top: 10px;
}

.helpful-links {
  margin-bottom: 8px;
}

.helpful-links a {

  text-decoration: none;
}

.helpful-links a:hover {
  text-decoration: underline;
}
