.navbar {
    position: sticky;
    top: 0;
    background-color: white;
    height: 120px;
    color: #333; 
    padding: 0 20px; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
       /* background-image: url(../src/assets/bg.png); */
  }
  
  .logo-nav {
    font-size: 1.5rem;
    color: #333; /* Change text color */
    text-decoration: none;
  }


.logo-link{
    cursor:pointer;
    color:black;
}

.w-image {
    border-radius: 40px;
    width: 150px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


   
.navbar-link {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    /* transition: color 0.3s ease; */
  }


  
  .login-button-link,
  .sign-up-button-link {
    color: #333; /* Change text color */
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

.footer{
    font-weight: bold;
}

